<?php
exit;
?>
;///////////////////////////////////////////////////////////////////////////////
;
; NagiosQL
;
;///////////////////////////////////////////////////////////////////////////////
;
; Project  : NagiosQL
; Component: Database Configuration
; Website  : https://sourceforge.net/projects/nagiosql/
; Date     : September 1, 2020, 2:44 pm
; Version  : {{ nagiosql_version }}
;
;///////////////////////////////////////////////////////////////////////////////
[db]
type         = 'mysqli'
server       = 'localhost'
port         = '3306'
database     = 'db_nagiosql_v{{ db_nagiosql_version }}'
username     = '{{ mysql_nagiosql_user }}'
password     = '{{ mysql_nagiosql_password }}'
[path]
base_url     = '/webadmin/'
base_path    = '/var/www/html/webadmin/'